
.scroll-down {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}
.scroll-arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 1px solid #191919;
  border-bottom: 1px solid #191919;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
  -webkit-animation: mouse-wave 1s infinite;
  -moz-animation: mouse-wave 1s infinite;
}
.scroll-arrows--one
{
  margin-top: 1px;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.scroll-arrows--two
{
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.scroll-arrows--three
{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

@-webkit-keyframes mouse-wave {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-wave {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-wave {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-wave {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
